<div class="min-w-full min-h-full flex flex-col justify-between z-options">
    <div style="transition-property: top;" class="absolute w-full top-0 /*-top-20*/ flex justify-between">
        <div class="mt-5 ml-10">
            <h2 class="font-bold text-4xl"> {{ title }} </h2>
        </div>
        <div class="mt-5 mr-10 z-options" v-on:click="openModal" >
            <svg class="w-16 h-16" :class="{'text-black': isSideBarOpen}" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 18L20 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                <path d="M4 12L20 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                <path d="M4 6L20 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </div>
    </div>

    <div style="transition-property: bottom;" class="absolute w-full bottom-0 /*-bottom-20*/ flex justify-center">
        <div class="w-full m-10">
            <RangeSlider :value="(currentPage + 1)" :max="pagesAmount" @value-changed="notifySliderChanged" />
        </div>        
    </div>
    
    <aside class="absolute lg:w-1/3 h-screen -right-full flex flex-col transition-all duration-200 z-sidebar text-black bg-trans-gray"
          :class="{'w-screen': isSideBarOpen, 'right-0': isSideBarOpen}">
        <div class="h-32"></div>
        <nav class="flex-1 flex flex-col">
            <div class="flex flex-col">
                <h2 class="text-center text-lg">
                    Visualização da Página
                </h2>
                <div class="flex justify-evenly mt-5">
                    <PlainButton v-on:click="() => notifyZoomSelected(FULL_HEIGHT_ZOOM)" :class="{ 'ring-4': fitHeightSelected, 'ring-gray-200': fitHeightSelected}">
                        <h3 class="text-center">Tipo 1</h3>
                        <FitHeightIcon class="h-28 w-28"/>
                    </PlainButton>
                    <PlainButton v-on:click="() => notifyZoomSelected(FULL_WIDTH_ZOOM)" :class="{ 'ring-4': fitWidthSelected, 'ring-gray-200': fitWidthSelected}">
                        <h3 class="text-center">Tipo 2</h3>
                        <FitWidthIcon class="h-28 w-28"/>
                    </PlainButton>
                </div>
                
            </div>
        </nav>
    </aside>
    <!--<div class="overlay hidden"></div> -->
</div>