.cz-image-viewer .info {
    position: fixed;
    top: 35px;
}

.cz-image-viewer .info .title-content{
    position: fixed;
    left: 25px;
}

.cz-image-viewer .info .title-content h2{
    color: white;
    font-size: 26px;
    margin: 0px;
}

.cz-image-viewer .info .options-btn{
    position: fixed;
    right: 25px;
}

.cz-image-viewer .info .options-btn svg {
    width: 32px;
    fill: white;
    height: 32px;
}

.cz-image-viewer .info .options-btn:hover svg {
    fill: yellow;
    cursor: pointer;
}

.cz-image-viewer .info .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    top: 20%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -20%);
    margin: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-align: center;
    z-index: 2;
}

.cz-image-viewer .info .modal.hidden{
    display: none;
}

.cz-image-viewer .info .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cz-image-viewer .info .modal button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.cz-image-viewer .info .modal .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.cz-image-viewer .info .modal .btn-open {
    position: absolute;
    bottom: 150px;
}
  
.cz-image-viewer .info .modal .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}